<form ng-submit="submit()" role="form">
	<div class="form-group">
		<label for="title">제목</label>
		<input type="text" ng-model="title" id="title" class="form-control" placeholder="제목을 입력하세요."/>
	</div>
	<div class="form-group">
		<label for="content">내용</label>
		<textarea ng-model="content" id="content" class="form-control" placeholder="내용을 입력하세요."/>

		<p class="help-block"><a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub
			Flavored Markdown</a>을 지원합니다.</p>
	</div>
	<button type="submit" class="btn btn-default">생성</button>
</form>
