@master("대문") {
	<body ng-controller="ApplicationCtrl">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<form class="navbar-form navbar-right" role="search" ng-controller="ArticleQueryCtrl" ng-submit="search()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="키워드" ng-model="keyword">
				</div>
				<button type="submit" class="btn btn-default">검색</button>
			</form>
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">PlayCode-Wiki</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#/article">목록</a></li>
						<li ng-if="!AuthService.isAuthenticated()"><a href="/login">로그인</a></li>
						<li ng-if="AuthService.isAuthenticated()" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown">{{Session.nickname}} <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#/mypage"><span class="glyphicon glyphicon-user"></span> my page</a></li>
								<li><a href="#" ng-click="AuthService.logout()"><span class="glyphicon glyphicon-off"></span> 로그아웃</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div ng-view></div>
		</div>
	</body>
}
